pharmacy_tool_env/
*.db
*.xlsx
*.key
*~
*.docx
*.rtf
*.csv
*.png
*.bak


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
credentials.yaml
.streamlit/secrets.toml
encryption_key.key
claims_history.db
*.csv
*.png
*.xlsx
credentials.yaml
