option_settings:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
  aws:elasticbeanstalk:command:
    Timeout: 1800
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Init:
        configSets:
          default:
            - configure_ssh
        configure_ssh:
          files:
            "/home/ec2-user/.ssh/authorized_keys":
              mode: "000600"
              owner: ec2-user
              group: ec2-user
              content: |
                ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCohUztXR3fiHdq0SJvCtUT906rfk7bzge5V5XbMLnQUoXvtF17WAUpurlTOH9DW2a2vSh19PsXWGDP1XZ7r1NjPWuH3+NC2aked/gfvM0L90xFKkhzXBhXjL/V8/ZO5r2kKYtnPTiWbvxyZq0UjInvZMDcV6F/TtSHLqIfbKKdCgp7TbXgsYYp7O3eHdgd1fcfQ4OdnrKjUyYH2XC/OG5rjsoJTsXmF9C1vXpGps3D4uegdRFtb0g/cBlFl1T51NBqkhMG6i3PnMkvNK75RMJX5D1aitvhUBTVj1WVl08LhC7VVjEBniEoAwGDYkdV1NVhkB7PAevklTehxjlU3giL
      AWS::CloudFormation::Authentication:
        default:
          type: S3
          buckets: [elasticbeanstalk-us-east-1-854611169949]
          roleName: aws-elasticbeanstalk-ec2-role
