option_settings:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
  aws:elasticbeanstalk:command:
    Timeout: 1800
  aws:autoscaling:launchconfiguration:
    EC2KeyName: us-east-1-bundle
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        default:
          type: S3
          buckets: [elasticbeanstalk-us-east-1-854611169949]
          roleName: aws-elasticbeanstalk-ec2-role
